<div class="login-page-wrapper">
  <div class="login-card">
    <h2>Register</h2>

    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="registerData.name" required>

      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="registerData.email" required>

      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="registerData.password" required>

      <button type="submit">Register</button>
    </form>

    <p class="register-link">
      Already have an account? <a routerLink="/login">Login here</a>
    </p>
  </div>
</div>
